.menupiece {
	width: 33.3%;
	background-color: darkgrey;
	color: white;
}
body {
	background-color: black;
	text-align: center;
}
h1 {
	color: white;
}
.active {
	background-color: red;
}
.menupiece:hover {
	background-color: lightgrey;
}
.active:hover {
	background-color: pink;
}
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .visible class with JS), and when you move the mouse over it (hover) */
.visible, .collapsible:hover {
	background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}
.fill {
	height: 100%;
	width: 100%;
	margin: 0px;
}
