.menupiece {
	width: 33.3%;
	background-color: darkgrey;
	color: white;
}
body {
	background-color: black;
	text-align: center;
}
h1 {
	color: white;
}
.active {
	background-color: red;
}
.menupiece:hover {
	background-color: lightgrey;
}
.active:hover {
	background-color: pink;
}
