.menupiece {
	width: 33.3%;
	background-color: darkgrey;
	color: white;
}
body {
	background-color: black;
}
h1 {
	color: white;
}
.active {
	backround-color: red;
}
.menupiece:hover {
	background-color: lightgrey;
}
.active:hover {
	background-color: pink;
}
