@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body{
	text-align: center;
}
.ad div{
	background-color:blue;
	text-align:center;
	font-family:shareTech;
	text-decoration:none;
	color:white;
	width:200px;
}
.ubuntu {
	font-family: "Ubuntu";
}
.shareTech {
	font-family: "Share Tech";
}
.overMenu{
	height: 100px;
}
.menupiece {
	background-color: Yellow;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	float: left;
	width: 33.3%;
	transition: all 0.5s ease;
}
.menupiece:hover {
	background-color:#ffc107;
}
.menu {
	width: 100%;
	background-color: Yellow;
	border: none;
	display: inline-block;
	position: fixed;
}

.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: RoyalBlue;
}

.active {
	background-color: #ff5722;
}
.active:hover {
	background-color: Crimson;
}
